# Core Data Science & ML libraries
pandas
numpy
scikit-learn

# Deep Learning & NLP
tensorflow
transformers
datasets
scikit-learn
fasttext
tqdm

# Explication du code
# Ce code utilise plusieurs bibliothèques pour le traitement du langage naturel et l'apprentissage automatique.
lime
shap

# Additional Libraries
nltk
spacy
gensim

# Visualization
matplotlib
seaborn

# suvi des métrics
mlflow
pyngrok



# Testing
pytest
